[user]
	name = sebma
	email = sebma@users.noreply.github.com
[color]
	ui = true
[alias]
	addv = add -v
	br = branch
	co = checkout
	com = commit -uno
	ct = describe --tags --abbrev=0 # current tag
	diffw = diff --word-diff=plain --color
	showw = show --word-diff=plain --color
	mvIntoDIR = "!f1() { cd ${GIT_PREFIX:-.};git mv -v $1 $2/;git commit -uno $1 $2 -m \"Moved $1 into $2/\"; }; f1"
	mvv = "!f2() { cd ${GIT_PREFIX:-.};git mv -v $1 $2;git commit -uno $1 $2 -m \"Renamed $1 to $2\"; }; f2"
	st = status -bs
	stu = status -bs -uno
[pager]
#	diff = git diff --word-diff=plain --color -- "$@" | less # Shows the diff for all the changed files instead of that of "$@"
#	show = git show --word-diff=plain --color -- "$@" | less
[credential]
	helper = cache --timeout=86400
[push]
	default = current
[filter "lfs"]
	required = true
	clean =  git-lfs clean  -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[core]
	hooksPath = myScripts/global/.githooks
